@import './reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: url('./polices/Montserrat.ttf');
}

@layer base {
  *{
    font-size: 12px;
    font-family: 'Montserrat';
  }

  h1, h2{
    @apply font-bold;
  }
}